USE [master]
GO
/****** Object:  Database [ProjetoLogin]    Script Date: 25/11/2021 01:42:29 ******/
CREATE DATABASE [ProjetoLogin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjetoLogin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProjetoLogin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjetoLogin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProjetoLogin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjetoLogin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjetoLogin]
GO
/****** Object:  Table [dbo].[Hospedes]    Script Date: 25/11/2021 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospedes](
	[hid] [int] IDENTITY(1,1) NOT NULL,
	[hnome] [varchar](250) NOT NULL,
	[telefone] [bigint] NOT NULL,
	[nacionalidade] [varchar](250) NOT NULL,
	[genero] [varchar](50) NOT NULL,
	[dtnascimento] [varchar](50) NOT NULL,
	[cpf] [varchar](250) NOT NULL,
	[endereco] [varchar](350) NOT NULL,
	[checkin] [varchar](250) NOT NULL,
	[checkout] [varchar](250) NULL,
	[chekout] [varchar](250) NOT NULL,
	[quartoid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quartos]    Script Date: 25/11/2021 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quartos](
	[quartoid] [int] IDENTITY(1,1) NOT NULL,
	[quartoNo] [varchar](250) NOT NULL,
	[quartoTipo] [varchar](250) NOT NULL,
	[cama] [varchar](250) NOT NULL,
	[preco] [bigint] NOT NULL,
	[reservado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[quartoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[quartoNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 25/11/2021 01:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[unome] [varchar](250) NOT NULL,
	[telefone] [bigint] NOT NULL,
	[genero] [varchar](50) NOT NULL,
	[email] [varchar](120) NOT NULL,
	[usuario] [varchar](150) NOT NULL,
	[senha] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hospedes] ADD  DEFAULT ('NAO') FOR [chekout]
GO
ALTER TABLE [dbo].[quartos] ADD  DEFAULT ('NAO') FOR [reservado]
GO
ALTER TABLE [dbo].[Hospedes]  WITH CHECK ADD FOREIGN KEY([quartoid])
REFERENCES [dbo].[quartos] ([quartoid])
GO
USE [master]
GO
